.cards:hover{
   cursor: pointer;
   background: rgba(0, 0, 0, 0.548);
   color: white;
}

#id{
   /* visibility: hidden; */
   display: none;
}

.dropdown-item,.dropdown-item2:hover{
   cursor: pointer;
}

.main{
   background:url("https://images.pexels.com/photos/168442/pexels-photo-168442.jpeg?auto=compress&cs=tinysrgb&w=400");
   
}

.navbar{
   background: white;
   color: black;
}
